div#admin_problem_explanation
{
	position: absolute;
	top: 2%;
	left: 30%;
	
	width: 70%;
}


input[type='text']
{
	display: block;
	margin-bottom: 30px;
}


textarea
{
	width: 50%;
	height: 200px;
	
	border: 1px solid #888;	
	display: block;
	
	margin-bottom: 30px;
}


label
{
	color: #99CCFF;
}


input[type='submit']
{
	margin-bottom: 20px;
	margin-left: 20%;
	font-size: 20px;
	
	color: #99CCFF;
	background-color: #FF6633;
}