div#container
{
	position: absolute;
	top: 15%;
	left: 28%;
}


#start_button
{
	position: relative;
	left: 43%;
	top: 15px;
	
	padding: 5px;
	
	font-size: 35px;
	font-family: Georgia, serif;
	
	color: white;
	background-color: #339933;
	background: -webkit-gradient(linear, left top, left bottom, from(#339933), to(#00CC33));
	
	border-radius: 7px;
	box-shadow: black 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	
	cursor: pointer;
}